.class_a {
    color:red;
    text-decoration: underline;
    height:50vh;
    width:50vw;
    background-color:#3406B1;
    margin-left:auto;
}

.class_b {
    color: green
}

.class_a .class_b .class_c {
    color: yellow
}
